---
import { cn } from "@/lib/utils";
import InteriorLayout from "../../layouts/interior.astro";
import Section from "../../components/Section.astro";
import NarrowContent from "../../components/NarrowContent.astro";
import ArticleGrid from "@/components/ArticleGrid.astro";
import Icon from "@/components/Icon.astro";
import { getEntry, getCollection } from "astro:content";
import { getTranslations } from "polystella/i18n";
const t = await getTranslations(Astro.currentLocale);

export async function getStaticPaths() {
  const people = await getCollection("people");
  return people.map((person) => ({ params: { slug: person.id } }));
}

// get the slug from the URL
const { slug } = Astro.params;

// get the current person's details based on the slug
const person = await getEntry("people", slug as string);

if (!person) {
  throw new Error(`"${slug}" not found`);
}

// Get the rendered HTML content
const htmlContent = person.rendered?.html || "";

// Get all publications where this person is an author
const personPublications = await getCollection("publications", (pub) => {
  return pub.data.authors?.some((author) => author.id === slug);
});
---

<InteriorLayout metaTitle={person.data.title}>
  <Section>
    <NarrowContent>
      <div class="grid grid-cols-1 md:grid-cols-[315px_1fr]">
        <div class="relative md:-top-3 md:-left-8 mb-6 md:mb-0">
          <img
            src={`/images/people/${person.data.avatar}`}
            alt={person.data.title}
            class="w-full sm:max-w-[315px] mx-auto md:mx-0"
            decoding="async"
          />
        </div>

        <div class="mt-0 md:mt-4 pb-12">
          <h1 class="heading text-3xl sm:text-4xl md:text-5xl mb-2">{person.data.title}</h1>
          <h2 class="subheading text-page-text-muted mb-4">{person.data.position}</h2>

          <ul
            class={cn(
              "social-media text-page-text-muted flex items-center gap-2",
              "[&_a]:aspect-square [&_a]:border [&_a]:border-page-border-subtle [&_a]:inline-flex [&_a]:rounded-full [&_a]:center",
              "[&_a]:size-18 [&_a]:hover:border-page-text",
            )}
          >
            {
              person.data.twitter && (
                <li>
                  <a href={`https://x.com/${person.data.twitter}`} target="_blank" rel="noopener noreferrer">
                    <Icon id="x" class="text-page-text" />
                  </a>
                </li>
              )
            }
            {
              person.data.bluesky && (
                <li>
                  <a href={`https://bsky.app/profile/${person.data.bluesky}`} target="_blank" rel="noopener noreferrer">
                    <Icon id="bluesky" class="text-page-text" />
                  </a>
                </li>
              )
            }
          </ul>
        </div>

        <div class="col-span-1 md:col-span-2 [&_p]:mb-4 [&_h3]:pt-8 leading-relaxed">
          <h3 class="heading-label">{t("people.biography")}</h3>
          <div class="content" set:html={htmlContent} />
        </div>
      </div>
    </NarrowContent>

    <div class="border-t border-page-border"><ArticleGrid publications={personPublications} showFilters={false} /></div>
  </Section>
</InteriorLayout>
