---
import Header from "@/components/home/Header.astro";
import BaseLayout from "../layouts/base.astro";
import FocusArea from "@/components/home/FocusArea.astro";
import WhatsNewCard from "@/components/home/WhatsNewCard.astro";
import FeaturedResearch from "@/components/home/FeaturedResearch.astro";
import Section from "@/components/Section.astro";
import ButtonLink from "@/components/ButtonLink.astro";
import Icon from "@/components/Icon.astro";
import { getCollection } from "astro:content";
import { CONSTANTS } from "@/lib/constants";
import SeeMore from "@/components/SeeMore.astro";
import { linkDescriptions } from "@/data/seo";
import { getTranslations } from "polystella/i18n";

const t = await getTranslations(Astro.currentLocale);

// Pull in 3 most recent publications (2025+), sorted by date
const recentPublications = (
  await getCollection(
    "publications",
    ({ data }) => data.year && data.year >= 2025,
  )
)
  .sort((a, b) => {
    const dateA = a.data.date || new Date(a.data.year || 0, 11, 31);
    const dateB = b.data.date || new Date(b.data.year || 0, 11, 31);
    return dateB.getTime() - dateA.getTime();
  })
  .slice(0, 3);
---

<BaseLayout bodyClassName="home" metaDescription={t("home.metaDescription")}>
  <Fragment slot="head">
    <link rel="preload" href="/unicornStudio.umd.js" as="script" />
    <link rel="preload" href="/blue_liquid.json" as="fetch" crossorigin />
  </Fragment>
  <!-- header -->
  <Header />

  <!-- featured research -->
  <FeaturedResearch />

  <!-- focus areas -->
  <Section className="pt-14 pb-12">
    <h2 class="heading mb-3 text-left md:text-center text-quartz px-8 md:px-4">
      {t("home.focusAreas.heading")}
    </h2>
    <h3
      class="subheading mb-8 text-left md:text-center text-stack px-8 md:px-4"
    >
      {t("home.focusAreas.subheading")}
    </h3>
    <div
      class="flex flex-wrap gap-4 justify-center -mx-px relative connector-top-left mb-5 border-t-2 sm:border-t-0 border-page-border"
    >
      <FocusArea
        icon="hidden"
        title={t("globals.morePrivate")}
        seeMore="/focus/private"
        className="w-[calc(100%-2px)] md:w-[calc(49%-2px)] lg:w-[calc(33%-8px)]"
        description={linkDescriptions.private}
      >
        {t("home.focusAreas.morePrivate.blurb")}
      </FocusArea>
      <FocusArea
        icon="hand"
        title={t("globals.safer")}
        seeMore="/focus/safe"
        className="w-[calc(100%-2px)] md:w-[calc(49%-2px)] lg:w-[calc(33%-8px)]"
        description={linkDescriptions.safe}
      >
        {t("home.focusAreas.safer.blurb")}
      </FocusArea>
      <FocusArea
        icon="bolt"
        title={t("globals.faster")}
        seeMore="/focus/fast"
        className="w-[calc(100%-2px)] md:w-[calc(49%-2px)] lg:w-[calc(33%-8px)]"
        description={linkDescriptions.fast}
      >
        {t("home.focusAreas.faster.blurb")}
      </FocusArea>
      <FocusArea
        icon="shield"
        title={t("globals.moreReliable")}
        seeMore="/focus/reliable"
        className="w-[calc(100%-2px)] md:w-[calc(49%-2px)] lg:w-[calc(33%-8px)]"
        description={linkDescriptions.reliable}
      >
        {t("home.focusAreas.moreReliable.blurb")}
      </FocusArea>
      <FocusArea
        icon="transparent"
        title={t("globals.moreMeasurable")}
        seeMore="/focus/measurable"
        className="w-[calc(100%-2px)] md:w-[calc(49%-2px)] lg:w-[calc(33%-8px)]"
        description={linkDescriptions.measurable}
      >
        {t("home.focusAreas.moreMeasurable.blurb")}
      </FocusArea>
    </div>
    <div class="flex justify-center">
      <SeeMore href="/focus">{t("globals.viewAll")}</SeeMore>
    </div>
  </Section>

  <!-- what's new -->
  <Section className="pb-4 pt-14">
    <h2 class="heading md:text-center text-quartz px-8 md:px-4 mb-3">
      {t("home.whatsNew.heading")}
    </h2>
    <h3 class="subheading md:text-center mb-10 text-stack px-8 md:px-4">
      {t("home.whatsNew.subheading")}
    </h3>
    <div class="flex flex-col md:flex-row gap-3">
      {
        recentPublications.map((publication) => (
          <WhatsNewCard
            className="flex-1"
            link={`/${publication.id}` || ""}
            date={publication.data.year?.toString() || ""}
            title={publication.data.title}
            tags={publication.data.related_interests || []}
          />
        ))
      }
    </div>
  </Section>

  <!-- careers in research -->
  <Section className="pb-14">
    <h2 class="heading md:text-center text-quartz pt-14 px-8 mb-3">
      {t("home.careers.heading")}
    </h2>
    <h3 class="subheading md:text-center mb-10 text-stack px-8">
      {t("home.careers.subheading")}
    </h3>
    <div class="md:text-center ml-8 md:ml-0">
      <ButtonLink href={CONSTANTS.CLOUDFLARE_CAREERS}
        >{t("home.careers.cta")}
        <Icon id="arrowUpRight" />
      </ButtonLink>
    </div>
  </Section>
</BaseLayout>
