---
import Badge from "./Badge.astro";
import ArticleHeading from "./ArticleHeading.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
  tags?: string[];
  "data-tags"?: string;
}

const { post, tags = [] } = Astro.props;
const dataTags = Astro.props["data-tags"];

const year = post.data.date.getFullYear().toString();
const dateStr = post.data.date.toISOString().split("T")[0];
---

<article class="p-8 flex flex-col justify-between article-card" data-tags={dataTags}>
  <div class="flex-1">
    <ArticleHeading type="blog" date={dateStr} year={year} />

    <!-- title -->
    <h3 class="leading-snug text-lg font-medium text-bizarre title">
      <a href={post.data.url} target="_blank" rel="noopener noreferrer" class="hover:underline">
        {post.data.title}
      </a>
    </h3>
  </div>

  <!-- tags -->
  {tags.length > 0 && (
    <div class="flex flex-wrap gap-1">
      {tags.map((tag, i) => <Badge key={i} color="blue">{tag}</Badge>)}
    </div>
  )}
</article>
