---
import { NavMenu } from "./NavigationMenu";
import { LocalePicker } from "./LocalePicker";
import { getDictionary } from "@cloudflare/polystella/i18n";
import { defaultLocale } from "@/lib/i18n-utils";

const dict = await getDictionary(Astro.currentLocale);
const { lhref } = Astro.locals;
const currentLocale = Astro.currentLocale ?? defaultLocale;
const currentPath = `${Astro.url.pathname}${Astro.url.search}`;
---

<div class="flex items-center justify-between py-4 px-3 sm:px-5">
  <div class="shrink-0">
    <a href={lhref("/")}>
      <picture>
        <source srcset="/images/logo.svg" media="(prefers-color-scheme: dark)" />
        <img src="/images/logo--light.svg" alt="Cloudflare Research" class="h-8 sm:h-auto" width="191" height="32" />
      </picture>
    </a>
  </div>
  <nav class="flex-1 flex justify-end md:justify-end lg:justify-center">
    <NavMenu client:load dict={dict} locale={currentLocale} pathname={currentPath} />
  </nav>
  <!-- LocalePicker hidden below `lg`; mobile drawer + footer cover smaller screens -->
  <div class="hidden lg:flex lg:justify-end w-[197px]">
    <LocalePicker client:load dict={dict} locale={currentLocale} pathname={currentPath} />
  </div>
</div>
