---
import { type VariantProps } from "class-variance-authority";
import Badge from "./Badge.astro";
import ArticleHeading, { type typeClassNames } from "./ArticleHeading.astro";

interface Props {
  authors?: Author[];
  slug: string;
  type: VariantProps<typeof typeClassNames>["type"];
  date?: string;
  year?: string;
  title: string;
  thumbnail?: string;
  tags?: string[];
  "data-tags"?: string;
}

const { authors, slug, type, date, year, title, thumbnail, tags } = Astro.props;
const dataTags = Astro.props["data-tags"];
---

<article class="p-8 flex flex-col justify-between article-card" data-tags={dataTags}>
  <div class="flex-1">
    <ArticleHeading type={type} date={date || ""} year={year || ""} />

    <!-- title -->
    <h3 class="leading-snug text-lg font-medium text-bizarre title">
      <a href={slug} target="_blank" class="hover:underline">
        { title }
      </a>
    </h3>

    <!-- authors -->
    {authors && (
      <div class="text-sm font-medium text-page-text-muted authors">
        {authors.map((author, index) => (
          <>{index > 0 && ", "}<a href={`/people/${author.id}`} class="hover:underline hover:text-bizarre">{author.id}</a></>
        ))}
      </div>
    )}

    <!-- thumbnail -->
    { thumbnail && <a href={slug} target="_blank"><img src={thumbnail} alt={title} class="thumbnail aspect-video object-cover" loading="lazy" decoding="async" /></a> }
  </div>

  <!-- tags -->
  { tags && (
    <div class="flex flex-wrap gap-1">
      {tags.map((tag, i) => <Badge key={i} color="blue">{tag}</Badge>)}
    </div>
  )}
</article>